name: Shopping Cart CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout code
    - name: Checkout repository
      uses: actions/checkout@v4

    # 2️⃣ Setup .NET
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # 3️⃣ Restore dependencies
    - name: Restore dependencies
      run: dotnet restore Shopping-Cart.Presentation/Shopping-Cart.Presentation.csproj

    # 4️⃣ Build
    - name: Build
      run: dotnet build Shopping-Cart.Presentation/Shopping-Cart.Presentation.csproj -c Release --no-restore

    # 5️⃣ Run tests
    - name: Run tests
      run: dotnet test Shopping-Cart.Test/Shopping-Cart.Test.csproj --no-build

    # 6️⃣ Login to Docker Hub
    - name: Docker login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 7️⃣ Build Docker image
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/shopping-cart-api:latest .

    # 8️⃣ Push Docker image
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/shopping-cart-api:latest
